.bg-top {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 110px;
	background-color: var(--color-secondary);
}

.width-fix {
	width: calc(100% - 20px);
	max-width: 800px;
	margin: 0px auto;
}

.img-item {
	height: 240px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;

	position: relative;
	border-radius: 20px;
	margin: 0 auto;
	margin-block: 20px;
}

.sub-title-categoria {
	color: var(--color-text);
	margin-left: 5px;
	font-size: 14px;
}

.card-opcionais {
	display: flex;
	flex-direction: row;
}

.infos-produto-opcional {
	flex: 1;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

.infos-produto-opcional .name,
.infos-produto-opcional .price {
	color: var(--color-black);
}

.opcionais .badge {
	float: right;
	background-color: var(--color-secondary);
	padding: 7px 12px;
	border-radius: 50px;
	color: var(--color-black);
	margin-top: 5px;
}

.checks {
	margin-left: 10px;
}

.container-check {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.container-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: -2px;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 50px;
	background-color: var(--color-input-out);
}

.container-check:hover input ~ .checkmark {
	background-color: var(--color-text-out);
}

.container-check input:checked ~ .checkmark {
	background-color: var(--color-primary);
}

.checkmark::after {
	content: '';
	position: absolute;
	display: none;
}

.container-check input:checked ~ .checkmark::after {
	display: block;
}

.container-check .checkmark::after {
	left: 9px;
	top: 7px;
	width: 6px;
	height: 10px;
	border: solid var(--color-white);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	border-width: 0 3px 3px 0;
}

textarea {
	height: 150px !important;
}

.menu-bottom.details {
	justify-content: space-between;
	padding: 8px 15px;
}

.add-carrinho {
	display: flex;
	text-align: center;
	height: 30px;
	justify-content: center;
	align-items: center;
}

.btn-full {
	font-weight: bold;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 10px;
	width: calc(100% - 20px);
	max-width: 800px;
	margin: 0 auto;
	border-radius: 20px;
	padding: 15px 25px;
	font-size: 18px;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
	border: 1px solid #ffe28c;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-numero-itens {
	color: var(--color-black);
	padding: 2px 15px;
	font-size: 18px;
}

.title-sobre {
	margin-bottom: 20px !important;
	margin-top: 5px;
	margin-right: 100px;
}

.sobre {
	font-size: 14px;
	color: var(--color-text);
}

.container-img-sobre {
	position: absolute;
	right: 20px;
	margin-top: -50px;
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--color-white);
	border-radius: 15px;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

.img-sobre {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.normal-text {
	font-size: 14px;
	color: var(--color-text);
}

.normal-text b {
	color: var(--color-black);
}

.bg-top.sobre {
	height: 180px;
}

/* Carrinho */

.bg-top.pedido {
	height: 180px;
}

.container-detalhes {
	display: flex;
}

.carrinho .detalhes-produto {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.carrinho .infos-produto {
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
}

.carrinho .infos-produto .name {
	font-size: 16px;
}

.carrinho .infos-produto .price {
	font-size: 14px;
	color: var(--color-black);
}

.carrinho .infos-produto .name-opcional,
.carrinho .infos-produto .price-opcional,
.carrinho .infos-produto .obs-opcional {
	font-size: 14px;
	color: var(--color-text);
	margin-left: 10px;
}

.carrinho .infos-produto .obs-opcional {
	margin-right: 75px;
}

.detalhes-produto-edit {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	color: var(--color-primary);
	cursor: pointer;
}

.carrinho .infos-produto .name-total {
	font-size: 18px;
	color: var(--color-black);
}

.carrinho .infos-produto .price-total {
	font-size: 18px;
	color: var(--color-primary);
}

.card-select {
	border: 2px dashed var(--color-primary) !important;
	cursor: pointer;
}

.color-primary {
	color: var(--color-primary);
}

.card-address {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.img-icon-details {
	width: 50px;
	height: 50px;
	background-color: var(--color-secondary);
	color: var(--color-black);
	font-size: 22px;
	border-radius: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-address .infos {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
}

.card-address .infos .name {
	color: var(--color-black);
}

.icon-edit {
	font-size: 16px;
	color: var(--color-primary);
}
