.width-fix {
	width: calc(100% - 20px);
	max-width: 800px;
	margin: 0px auto;
}

.card {
	border-radius: 20px;
	padding: 15px 20px;
	font-size: 20px;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
	border: none !important;
}

.container-img {
	width: 60px;
	height: 60px;
	background-image: url('../../public/logo.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 20px;
	border-radius: 20px;
}

.infos {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.infos h1 {
	font-size: 18px;
	margin-bottom: 5px;
	color: var(--color-black);
}

.infos-sub {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.status-open {
	font-size: 14px;
	margin-bottom: 0px;
	color: var(--color-green);
}

.status-open.closed {
	color: var(--color-red);
}

.link {
	text-decoration: none !important;
	font-size: 14px;
	color: var(--color-primary) !important;
}
