section.categoria {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--color-background);
	width: 100%;
	padding-top: 15px;
}

.container-menu {
	margin-bottom: 30px;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}

.item-categoria {
	flex: none;
}

.title-categoria {
	color: var(--color-black);
	margin-left: 5px;
}
