section.categoria {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--color-background);
	width: 100%;
	padding-top: 15px;
}

.container-menu {
	margin-bottom: 30px;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}

.item-categoria {
	flex: none;
}

.btn-white {
	color: var(--color-black);
	background-color: var(--color-white);
	border-radius: 20px;
	padding: 15px 25px;
	font-size: 20px;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-yellow {
	border: none !important;
	background-color: var(--color-primary);
	color: var(--color-black) !important;
	border-radius: 20px;
	padding: 15px 25px;
	font-size: 20px;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-white:hover,
.btn-white.active {
	background-color: var(--color-primary);
}

.btn-sm {
	padding: 8px 13px;
	border-radius: 15px;
	font-size: 16px;
}
